.app-button
    width: 100%
    border-radius: 10px
    padding: 12px 15px
    color: #EDF2F7
    font-size: 20px
    background-color: #718096
    text-align: center
    &:hover
        cursor: pointer
        background-color: #A0AEC0