.contact-elem-container
    background-color: #4A5568
    width: 100%
    height: 70px
    margin-top: 20px
    border-radius: 10px
    padding: 10px 12px
    display: flex
    align-items: center
    justify-content: space-between

.info-container
    display: flex
    align-items: center

.icon-avatar
    color: #718096
    font-size: 24px
    margin: 0 10px

.name-number-container
    margin-left: 10px

.name
    font-size: 16px
    font-weight: bold
    color: #E2E8F0

.number
    font-size: 14px
    color: #E2E8F0

.icons-container
    display: flex

.icon-container
    width: 44px
    background-color: #718096
    color: #2D3748
    height: 44px
    display: flex
    align-items: center
    justify-content: center    
    border-radius: 10px
    margin-left: 10px
    cursor: pointer
    transition: all 500ms
    &:hover
        transition: all 500ms
        background-color: #A0AEC0