.contact-elem-container
    background-color: #2D3748
    width: 100%
    height: 70px
    margin-top: 20px
    border-radius: 15px
    padding: 10px 12px
    display: flex
    align-items: center
    justify-content: space-between

.info-container
    display: flex

.name-number-container
    margin-left: 10px

.name
    font-size: 20px
    color: #E2E8F0

.number
    font-size: 14px
    color: #E2E8F0

.icons-container
    display: flex

.icon-container
    width: 50px
    height: 50px
    display: flex
    align-items: center
    justify-content: center    
    border-radius: 10px
    margin-left: 10px
    cursor: pointer
    transition: all 500ms
    &:hover
        transition: all 500ms

.edit
    background-color: #48BB78
    &:hover
        background-color: #38A169

.delete
    background-color: #F56565
    &:hover
        background-color: #E53E3E